# Byte-compiled / optimized
__pycache__/
*.py[co]

# Distribution / packaging
*.egg-info/
/build/
/dist/

# Unit test / coverage reports
.cache/
/.pytest_cache/
/.coverage
/htmlcov
/.tox
/.pytest_cache
/reports

testapp/private_media/
testapp/privates.db

# docs
docs/_build

# IDE's/editors
.idea/
/.vscode
/.history
