include *.rst
include LICENSE
include privates/py.typed
recursive-include privates *.html
recursive-include privates *.txt
recursive-include privates *.po
global-exclude __pycache__
global-exclude *.py[co]

